@import "icons.css";

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.radius-3 {
  border-radius: 3px;
}

.relative {
  position: relative;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

#sub-header {
  margin: 10px 0;
  padding: 0 30px;
}

/*Ant Design Overrides*/
.ant-menu-dark .ant-menu-item {
  width: 100%;
  margin: 0;
}

.ant-menu-dark .ant-menu-item-selected {
  background: #292F48;
  border-radius: 0;
}

.ant-menu-dark .ant-menu-item-selected:before {
  content: "";
  background-color: #76A0F0;
  width: 4px;
  height: 100%;
  position: absolute;
  left: 0;
}

.ant-table tbody tr:nth-child(even) {
  background-color: #fff;
}

.ant-table tbody tr:nth-child(odd) {
  background-color: #F9F9F9;
}
